/* general styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* storing colours */
:root {
    --background-main: #1B1917;
    --background-secondary: #282727;
    --main-text: #fff;
    --secondary-text: #CACACA;
    --pink-text: #EE4266;
    --yellow-text: #FFD23F;
    --green-text: #53FEBB;
}

body {
    background-color: var(--background-main);
    margin: 0 auto;
    padding: 0 5vw;
    /* Use viewport width for flexible spacing */
    max-width: 1200px;
    /* Prevents content from being too stretched on large screens*/
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    align-items: center;
}

.title-name {
    color: var(--green-text);
    letter-spacing: 8px;
    cursor: pointer;
}

.mobile-view {
    display: none;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
}

.nav-links ul li {
    padding: 0 40px;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--secondary-text);
    letter-spacing: 3px;
    transition: all 2s ease-out;
}

/* hamburger styling for resposnive view */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 10px 0;
    align-items: end;
}

.bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--main-text);
}

/* below is the code to control the hover animation effects for the different page links */
.nav-links ul li a:hover {
    transform: translateY(-5px);
    color: var(--main-text);

}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-text);

    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.center::after {
    transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
    transform-origin: bottom center;
}
/* hero section styles on home page*/
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 10%;
}

.hero-left h1 {
    color: var(--main-text);
    font-size: 55px;
    letter-spacing: 10px;
}

.hero-left h1 .pink {
    color: var(--pink-text);
}

.hero-left h1 .yellow {
    color: var(--yellow-text);
}

.hero-right img {
    max-width: 350px;
}

.pink-btn {
    background-color: var(--pink-text);

    font-size: 18px;
    margin: 35px 0;
    padding: 12px 28px;
    border: none;
    border-radius: 69px;
    letter-spacing: 2px;
}

.pink-btn a {
    color: var(--main-text);
    text-decoration: none;
}

/* hero section button animations */
.hero-left .pink-btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: var(--main-text);
    text-decoration: none;
}

.hero-left .pink-btn:hover {
    /* padding-right: 25px; */
    background-color: var(--main-text);
    transform: translateY(-10px);
    color: var(--pink-text);
}

/* section 1 styling code */
.section-1-container {
    background-color: var(--background-secondary);
    padding: 50px 140px;
    border: none;
    border-radius: 55px;
    max-width: 100%;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1-header {
    color: var(--main-text);
    font-size: 45px;
    text-align: center;
    padding-bottom: 50px;
}

.section1-left img {
    max-width: 370px;
}

.circle-top-row {
    display: flex;
    padding-bottom: 50px;
}

.circle-text {
    color: var(--main-text);
    width: 250px;
    height: 250px;
    text-align: center;
}

.circle-top-row .circle-text {
    padding: 35% 0;
}

.circle-third .circle-text {
    padding: 35% 0;
}

.circle-top-row .circle:nth-child(1) {
    border: 10px solid var(--yellow-text);
    border-radius: 50%;
    margin-right: 50px;

}

.circle-top-row .circle:nth-child(2) {
    border: 10px solid var(--green-text);
    border-radius: 50%;
}

.circle-third {
    border: 10px solid var(--pink-text);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-top: 85px;
    margin-left: 30%;
}

.section1-hidden {
    display: none;
}

.section1-hidden p {
    color: var(--main-text);
}

/* section-2 styles */
.section1-header,
.section-2-header {
    color: var(--main-text);
    font-size: 45px;
    text-align: center;
    padding: 30px 0;
}

.section-2 {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    row-gap: 150px;
}

.card-topic img {
    cursor: pointer;
    transition: 0.5s;
}

.card-topic img {
    height: 100px;
}

/* simple image hover effect */
.card-topic img:hover {
    transform: translateY(-10px);
}

.topic-title {
    color: var(--main-text);
    padding-top: 20px;
}
/* SUMMARY PAGE */
/* main section styling */
.grid-content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 50px;
    text-align: center;
}

.box h3,
.box p {
    color: var(--main-text);
    padding-bottom: 50px;
}

.box h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.box .btn {
    border: 3px solid var(--main-text);
    padding: 10px 20px;
    color: var(--main-text);
    text-decoration: none;
    transition: 0.5s;
}

.box .btn:hover {
    color: var(--background-main);
    background-color: var(--main-text);
    border: 3px solid var(--background-main);
}

.box:nth-child(1) {
    border: 5px var(--green-text) solid;
    padding: 10px 60px 40px 60px;
}

.box:nth-child(2) {
    border: 5px var(--pink-text) solid;
    padding: 10px 60px 40px 60px;
}

.box:nth-child(3) {
    border: 5px var(--yellow-text) solid;
    padding: 10px 60px 40px 60px;
}

.box:nth-child(4) {
    border: 5px #68297F solid;
    padding: 10px 60px 40px 60px;
}

.box:nth-child(5) {
    border: 5px var(--green-text) solid;
    padding: 10px 60px 40px 60px;
}

.box:nth-child(6) {
    border: 5px var(--pink-text) solid;
    padding: 10px 60px 40px 60px;
}

.box:nth-child(7) {
    border: 5px var(--yellow-text) solid;
    padding: 10px 60px 40px 60px;
}
/* BASICS PAGE */
/* section content 1 styling */
.section1 h1 {
    color: var(--pink-text);
    font-size: 60px;
    text-align: center;
    padding-bottom: 30px;
}

.section1 .even {
    color: var(--green-text);
}

.section1 .first-header {
    padding: 30px 0;
}

.section-content p,
.section-content ul li {
    color: var(--secondary-text);
}

.coloured-text li:nth-child(1) {
    color: var(--green-text);
}

.coloured-text li:nth-child(2) {
    color: var(--yellow-text);
}

.coloured-text li:nth-child(3) {
    color: var(--pink-text);
}

.definitions {
    color: var(--pink-text);
}

.section-content .example-1 {
    color: var(--yellow-text);
    padding-bottom: 30px;
}

.section-content img {
    max-width: 500px;
    padding-bottom: 30px;
}

.horizontal-line-break {
    border: 2px solid var(--main-text);
    margin: 20px 0;
}
/* RESOURCES PAGE */
/* main content/ slideshow styling */
.main-section h1 {
    color: var(--yellow-text);
    text-align: center;
    margin: 30px 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: var(--background-secondary);
}

/* Add proper colour styling for the slideshow text */
.slideshow-container p,
.slideshow-container ul li,
.slideshow-container ul li a {
    color: var(--secondary-text);
}

/* Add a blue color to the author */
.mySlides h3 {
    color: var(--pink-text);
    font-size: 25px;
    margin-bottom: 15px;
}
/* footer styling */
.footer-container {
    background-color: var(--background-secondary);
    margin: 30px 0;
    padding: 50px 100px;
    border: none;
    border-radius: 50px;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
}

.business-name {
    color: var(--green-text);
    letter-spacing: 10px;
}

.footer-left img {
    width: 120px;
}

.footer-left p {
    padding: 20px 0;
    color: var(--secondary-text);
}

.footer-right p a {
    text-decoration: none;
    color: var(--secondary-text);
    margin: 5px 0;
    transition: 0.5s;
}

.footer-right p {
    margin: 10px 0;

}

/* simple image hover effect */
.footer-right p a:hover {
    color: var(--main-text);
}

/* copyright */
.copyright {
    color: var(--secondary-text);
    text-align: center;
    padding-bottom: 10px;
}
/* media queries */
/* desktop view / larger screens - fixing their issues*/
@media (min-width: 2530px) {
    .section1-right {
        display: none;
    }

    .section1-hidden {
        display: block;
    }

    .section-1 {
        display: flex;
    }
}
@media (min-width: 1300px) {
    /* fixing styling issues for bigger screen sizes */
    .circle-text {
        width: 180px;
        height: 180px;
    }

    .circle-third {
        padding-top: 50px;
        height: 200px;
        width: 200px;
    }
}
/* ipad view */
@media only screen and (max-width: 1296px) {
    .nav-links.active{
        /* ensures that the navbar is always ontop and prevents overlap issues with content below */
        z-index: 100; 
    }
    .hero-left h1 {
        font-size: 45px;
    }

    .hero-section {
        max-width: 100%;
        padding: 5vw;
        margin: 0 auto;
        /* Centers it properly */
    }

    .hero-right img {
        max-width: 200px;
    }

    .section-1-container {
        padding: 40px 100px;
    }

    .section1-left img {
        max-width: 270px;
    }

    /* Home page styling */
    .circle-text {
        width: 200px;
        height: 200px;
    }

    .circle-third {
        padding-top: 50px;
        /* margin-right: 580px; */
        height: 200px;
        width: 200px;
        /* margin-left: 30%; */
    }

    .section-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 100px;
    }
}
/* mobile view */
@media (max-width: 968px) {

    /* navbar styling */
    .nav-links.active {
        flex-direction: column;
        align-items: center;
        display: none;
        left: 0;
        z-index: 100;
        /* Hide menu initially */
    }

    .menu {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 50px;
    }

    /* Show menu when active */
    .nav-links.active {
        display: flex;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .mobile-view {
        display: block;
        padding-top: 30px;
    }

    .desktop-view {
        display: none;
    }

    .nav-links {
        position: fixed;
        left: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: var(--background-main);
        box-shadow: 13px 12px 29px -7px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 13px 12px 29px -7px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 13px 12px 29px -7px rgba(0, 0, 0, 0.75);
        transition: 0.3s;
    }

    .second-part-nav {
        flex-direction: column;
    }

    .nav-links ul {
        margin: 16px 0;
    }
    /* HOME PAGE */
    /* hero styling */
    .hero-section {
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
    }

    .hero-right img {
        max-width: 60%;

    }

    .section-1 {
        flex-direction: column;
    }

    .section1-left img {
        margin-bottom: 20px;
    }

    .section-1-container {
        padding: 5vw;
        max-width: 100%;
    }

    .circle-top-row {
        flex-direction: column;
        align-items: center;
        /* Centers the circles */
        gap: 20px;
        /* Adds space between them */
    }

    .circle:nth-child(2) {
        margin-left: 60px;
        margin-top: 40px;
    }

    .circle-third {
        margin-top: -20px;
    }

    .section-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 50px;
    }
    /* BASICS PAGE */
    .section1 .first-header {
        padding-top: 120px;
    }

    .second-part-nav {
        flex-direction: column;
    }

    .nav-links ul {
        margin: 16px 0;
    }

    /* section 1 styles */
    .section-content img {
        max-width: 400px;
    }

    /* summary page */
    .grid-content{
        grid-template-columns: 1fr;
    }

    /* footer media query styling */
    .footer-contents {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}